:root {
    --blau-fosc: #001e4c;
    --blau-mig: #0066ff;
    --blau-clar: #99c2ff;
    --blau-lletra: #3d46c0;
    --violeta-lletra: #511688;
    --blanc-sol: #ffffff;
    --gris-clar: #e1e1e5;
    --gris-mig: #b5b5c0;
    --gris-fosc-calendari: #666666;
    --negre-sol: #000000;
    --marro-calendari: #cdbb79;
    --taronja-calendari-diumenges: #e66b44;
    --verd-clar-fons-calendari: #b1d2d0;
    --verd-fosc-fons-calendari: #9bb188;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", Verdana, sans-serif;
}

body {
    margin: 1%;
    padding: 1%;
    background-color: var(--blanc-sol);
    font-size: 100%;
}

header,
footer {
    background-color: var(--blau-mig);
    padding: 1%;
    margin: 1%;
    text-align: center;
}

nav {
    padding-top: 15px;
    min-height: 45px;
}

div.img-class {
    max-width: 80%;
    max-height: 80%;
    margin: 10px auto 15px;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    min-width: 100px;
    margin: 10px;
    padding: 6px;
    border: 0.5px solid var(--negre-sol);
    border-radius: 10px;
    color: var(--blau-lletra);
    background-color: var(--blau-clar);
}


/*header h1 {}*/

section {
    margin: 1%;
    padding: 1%;
    background-color: var(--gris-clar);
}


/*nav a {}

.activa {}*/

footer {
    font-size: 1.15em;
}