header,
footer {
    background-color: var(--gris-mig);
}

body {
    background-color: var(--blanc-sol);
    font-size: 100%;
}

.principal {
    display: flex;
}

.principal section {
    padding: 15px;
    max-width: 31.33%;
    min-height: 100%;
}

footer {
    clear: both;
}